   <section class="home" id="home">

        <div class="content">
            <h2>
                The best online sales company!
            </h2>
             
          </div> 

          <div class="item3">
            <img class="item img3" src="/images/logo3.png"> </img>
        </div>
              
    </section>