 <div class="wrapper">
            <h2>Add new order for user: </h2>
            {{#if user}}
            <div>
                <br>
                <h4>{{user.username}}</h4 >
            </div>
            {{#if alert}}
            <div>
                <br>
                <h2 style="color: green">{{alert}}</h2 >
            </div>
            {{/if}}
            <form action="/user/orders/createOrder/{{user.id}}" method="post">
                <div class="input-box">
                    <input type="text" placeholder="Name:" required name="name">
                </div>
                  <div class="box">
                <select name="table" class="table" placeholder="Table:" required>
                    <option value="Table1" >Table 1</option>
                    <option value="Table2" >Table 2</option>
                    <option value="Table3" >Table 3</option>
                    <option value="Table4" >Table 4</option>
                    <option value="Table5" >Table 5</option>
                    <option value="Table6" >Table 6</option>
                </select>  
                </div>
                <div class="input-box">
                    <input type="date" placeholder="category:" name="order_date">
                </div>
                <div class="input-box">
                </div>
                 <div class="input-box button">
                    <input type="Submit" value="Add Products to Order">
                </div>
            </form> 
            <div>
                <button>
                    <a type="button" href="/user/orders/{{user.id}}" style="color: black; text-decoration: none"><b>&nbsp <- USERS &nbsp</b> </a> <br></button>
                <br>
            </div>
             {{/if}}
        </div>