<div class="content">
  <p style="font-size:40px; color:rgb(74, 24, 24)">
    Products App
  </p>
  <div class="title">
    Welcome Admin Warehouse
  </div>
  
  
  <div class="wrapper">
    <div id="table">
      <hr>
      <div class="table-responsive">
        <table class="table activitites">
          <thead>
            <tr>
              <th scope="col" class="text-uppercase header">Name</th>
              <th scope="col" class="text-uppercase header">Username</th>
              <th scope="col" class="text-uppercase header">Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="item">
                <div class="d-flex">
                  <div class="pl-2">

                    <div class="d-flex flex-column justify-content-center">
                    </div>
                  </div>
              </td>
              <td class="font-weight-bold">

            </tr>


          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
  {{#if user}}
  <p style="font-size:40px; color:rgb(74, 24, 24)">
      {{user.username}}
  </p>
  {{/if}}
</div>