<div class="table-container">
  <h1 class="heading">Branches</h1>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="ID">1</td>
        <td data-label="Name">Poslovnica A</td>
        <td>
          <input type="button" onclick="formUpdate()" value="Edit" />
          <input type="button" onclick="formDelete()" value="Delete" /></td>

      </tr>
    </tbody>
  </table>
</div>