<section class="contact">

  <div class="container">
    <div class="contactInfo">

   
    <div class="wrapper">
    <div class="contactForm">
      <form>
        <h2>Contact</h2>
        <p>Contact us for more information</p>
        <div class="inputBox">
          <input type="email" required="required" name="" placeholder="Email" />
        </div>

        <div class="inputBox">
          <textarea
            required="required"
            placeholder="Type your Message..."
          ></textarea>

        </div>

        <div class="inputBox">
          <input type="submit" value="Send" />
        </div>
      </form>
    </div>
    </div>
  </div>
</section>