<nav>
  <input type="checkbox" id="check" />
  <label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
  </label>
  <img src="logo.png" />
  <ul>
    <li><a href="#">Log out</a></li>
    <li><a href="#">Users</a></li>
    <li><a href="#">Logging</a></li>

  </ul>
</nav>

<section class="home" id="home">

  <div class="content">

  </div>

</section>