    <div class="okvir">
    <div class="item2">
            <h1 class="text">Discover your favorite place.</h1>
            <h3 class="h3">An exciting place for the whole family to shop.</h3>
        </div>
        <div class="item3">
            <img class="item img3" src="/images/logo3.png"> </img>
        </div>
    </div>
