<table class="logging">
  <h1>Logging</h1>
  <thead>
     
    <tr>
      <th>ID</th>
      <th>Action type</th>
      <th>Action description</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody> {{#each date}}
    <tr>
      <td data-label="ID">{{this.id}}</td>
      <td data-label="Action type">{{this.akcija}}</td>
      <td data-label="Action description">{{this.opisAkcije}}</td>
      <td data-label="Time">{{this.createdAt}}</td>
    </tr>
   
  </tbody>
  {{/each}}
  
</table>