<table class="logging">
  <div class="naslov"><h1>Logging</h1></div>

  <thead>
     
    <tr>
      <th>ID</th>
      <th>Type</th>
      <th>Description</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody> {{#each date}}
    <tr>
      <td data-label="ID">{{this.id}}</td>
      <td data-label="Type">{{this.akcija}}</td>
      <td data-label="Description">{{this.opisAkcije}}</td>
      <td data-label="Time">{{this.createdAt}}</td>
    </tr>
   
  </tbody>
  {{/each}}
  
</table>