 <div class="wrapper">
  {{#if alert}}
  <div>
    <br>
    <h4 style="color: green">{{alert}}</h4 >
    <br>
  </div>
  {{/if}}
{{#if data}}
<h5>Are you sure that you want to remove product: </h5>
<h4 style="color: red;">{{data.name}}</h4>
<form action="/warehouse/products/remove/{{data.id}}" method="post">
    <div class="input-box button">
      <input type="submit" value="Delete Product" />
    </div>
{{/if}}
 <div>
                <button>
                    <a type="button" href="/warehouse/products" style="color: black; text-decoration: none"><b>&nbsp <- PRODUCTS &nbsp</b> </a> <br></button>
                <br>
            </div>
</div>