 <div class="wrapper">
  {{#if alert}}
  <div>
    <br>
    <h2 style="color: green">{{alert}}</h2 >
    <br>
  </div>
  {{/if}}
{{#if data}}
<h5>Are you sure that you want to remove user: </h5>
<h2 style="color: red;">{{data.username}}</h2>
<form action="/admin/users/remove/{{data.id}}" method="post">
    <div class="input-box button">
      <input type="submit" value="Delete User" />
    </div>
{{/if}}
   <div>
    <button><a type="button" href="/admin/users" style="color: black; "><b>&nbsp <- USERS &nbsp</b> </a> <br></button>
    <br>
  </div>
</div>