<div style="200px"></div>

<div class="content">
  <p style="font-size:40px; color:rgb(74, 24, 24)">
    Products App
  </p>
  <div class="title">
    Welcome User
  </div>
  {{#if user}}
    <p style="font-size:40px; color:rgb(74, 24, 24)">
        {{user.username}}
    </p>
   <div>
    <button><a type="button" href="/user/orders/{{user.id}}" style="color: black; "><b>&nbsp Orders &nbsp</b> </a> <br></button>
    <br>
  </div>
  {{/if}}
</div>