<div class="wrapper">
  <h2>Security Questions</h2>
   {{#if alert}}
        <br>
         <h4 style="color: green">{{alert}}</h4 >
    {{/if}}
  {{#if user}}
  <form action="/user/updateUserPitanjeOdgovor/{{user.id}}" method="post">
    <div class="input-box">
      <select name="pitanje_1" id="pitanje1">
        <option disabled selected value> -- Select a question -- </option>
        <option value="In what city were you born?">In what city were you born?</option>
        <option value="What was your favorite food as a child?">What was your favorite food as a child?</option>
      </select>
    </div>
    <div class="input-box">
      <input type="text" name="odgovor_1" placeholder="Answer" required />
    </div>
    <div class="input-box">
      <select name="pitanje_2" id="pitanje2">
        <option disabled selected value> -- Select a question -- </option>
        <option value="What high school did you attend?">What high school did you attend?</option>
        <option value="What is the name of your favorite pet?">What is the name of your favorite pet?</option>
      </select>
    </div>
    <div class="input-box">
      <input type="text" name="odgovor_2"  placeholder="Answer" required />
    </div>

    <div class="input-box button">
      <input type="Submit" value="OK" />
    </div>
    {{/if}}

  </form>
</div>