h1 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 38px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    margin: 30px;
}

a {
    font-size: 1rem;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    visibility: hidden;
}

a:hover {
    text-decoration: none;
}

.btn {
    font-size: 0.70rem;
    max-width: 90px;
    min-width: 50px;
}


body {
    background-color: #f5f5f5;
}

.wrapper {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.pl-2 {
    text-align: center;
    width: 100%;
    font-size: 0.90rem;
    padding-top: 5px;
}

.editTekst {
    text-align: center;
    font-size: 0.90rem;

}

.table {
    overflow: hidden;
    empty-cells: show;
}

.table thead tr th {
    letter-spacing: 0.08rem;
    font-weight: normal;
}

.table tr td,
.table tr th {
    border: none;
    text-align: center;
}

.table tbody td.item15 {

    font-size: 1.1rem;
    font-weight: 700;
    text-align: left;
}

.table tbody tr {
    padding-top: 10px;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    transition: all .4s ease-in-out;
}

.table tbody tr:last-child {
    border: none;
}

td .close,

.table tbody tr:hover {
    transform: scale(1.004);
    box-shadow: 2px 2px 10px #a5a5a5;
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: unset;
}

.table tbody tr:hover .close {
    font-size: 1.5rem;
    opacity: 1;
}

.table tbody tr:hover .close:hover {
    color: #aaa;
}

.table tbody tr:hover a {
    visibility: visible;
}