<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8" />
    <title>Responsive Bar</title>
    <link rel="stylesheet" href="/css/proizvodiPoslovnica.css" />
    <link rel="stylesheet" href="/css/menuAdminW.css" />
    <link rel="stylesheet" href="/css/branches.css" />
    <link rel="stylesheet" href="/css/addProduct.css" />
    <link rel="stylesheet" href="/css/tabelaProizvoda.css" />
    <link rel="stylesheet" href="/css/adminWH.css" />
  <!--  <link rel="stylesheet" href="/css/branches.css" /> !-->
    <script
      src="https://kit.fontawesome.com/0dc5ee9f31.js"
      crossorigin="anonymous"
    ></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  </head>

  <body >
  <nav style="position:absolute; z-index: 1000; min-width: 100%">
      <input type="checkbox" id="check" />
      <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel" ></i>
      </label>
      <!--      <img src="logo.png" /> !-->
      <ul>
        <li><a href="/logout">Log out</a></li>
        <li><a href="/warehouse/products">Products</a></li>
        <li><a href="/warehouse/branches">Branches</a></li>
        <li><a href="/warehouse/category">Category</a></li>
        <li><a href="#">Sending</a></li>
        <li><a href="#">Delivery</a></li>

      </ul>
    </nav>

    <section class="home" id="home">

      <div class="content">
        {{{body}}}
      </div>
    </section>

  </body>
</html>