<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Responsive Bar</title>

    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/about.css" />
    <link rel="stylesheet" href="/css/contact.css" />

    <script
      src="https://kit.fontawesome.com/0dc5ee9f31.js"
      crossorigin="anonymous"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/signin.css" />
    <!--<link rel="stylesheet" type="text/css" href="css/{{style}}">-->

    <title>Sign In form</title>

  </head>
  <body>
    <nav style="position:absolute; z-index: 1000; min-width: 100%">
      <input type="checkbox" id="check" />
      <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
      </label>

      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/login">Login</a></li>

      </ul>
    </nav>

    {{{body}}}
  </body>
</html>