@import url('https://googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
/*
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #808080;
}
*/
.wrapper{
    position: relative;
    width: 80%;
    background: #fff;
    padding: 34px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    border-radius: 6px;
}

.wrapper h2{
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #333;
}


.wrapper h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom:0;
    height:3px;
    width: 28px;
    background: #808080;
    border-radius: 12px;
}


.wrapper form .input-box{
    height: 32px;
    margin: 10px 0;
}

form .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width:2.5px ;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.input-box input:focus,
.input-box input:valid{
    border-color: #808080;
}

form.policy{
    display: flex;
    align-items: center;
}
form h3{
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    margin-left:10px ;
}

.input-box.button input{
    background: #808080;
    color: #fff;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;

}
.input-box.button input:hover{
    background: #666666;
}

form .text h3{
    color: #333;
    width: 100%;
    text-align: center;
}
form .text h3 a{
    color: #808080;
    text-decoration: none;
}

form .text h3 a:hover{
    text-decoration: underline ;
}
.select{
    width:70%;
    height: 35px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    border-radius: 6px;
    text-align: center;


}

.container span{
    width: 80%;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    user-select: none;
  }
  .container span.num{
    font-size: 20px;
    border-right: 2px solid rgba(0,0,0,0.2);
    border-left: 2px solid rgba(0,0,0,0.2);
    pointer-events: none;
  }
  .container{
    height: 100%;
    width: 50%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    
    border-bottom-width:3.5px ;
    border-radius: 1px;
    transition: all 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 6px;
    border: 3.5px solid #737373;
    
  }