*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: #808080;
    font-family: sans-serif;
  }
  
  
  .heading{
    font-size: 40px;
    text-align: center;
    color: #f1f1f1;
    margin-bottom:40px
  }
  .table thead{
    background-color: #778899;
    
  }
  .table thead tr th{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
    color: #FFFFFF;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border: 1px solid #dee2e686;
  }
  .table tbody tr td{
    font-size: 14px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: #f1f1f1;
    background-color: #3c3f44;
    padding: 8px;
    text-align: center;
    border: 1px solid #dee2e685;
  }
  
  .table tbody tr td .btn {
    width: 130px;
    text-decoration: none;
    line-height: 35px;
    display: inline-block;
    background-color: #2F4F4F	;
    font-weight: medium;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 14px;
    opacity: 1;
  }
  .input-box.button input{
    background: #808080;
    color: #fff;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
}
  
  @media (max-width:768px) {
    .table thead {
      display: none;
    }
    .table, .table tbody, .table tr, .table td {
      display: block;
      width: 100%;
    }
    .table tr {
      margin-bottom: 15px;
    }
    .table tbody tr td{
      text-align: right;
      padding-left: 50%;
      position: relative;
    }
    .table td:before{
      content: attr(data-label);
      position: absolute;
      left: 0%;
      width: 50%;
      padding-left:15px;
      font-weight: 600;
      font-size: 14px;
      text-align: left;
    }
  }

  